div.highlight pre {
    font-size: 0.78em;
    padding: 5px;
    max-height: 550px;
    overflow: auto;
}

pre.code {
    font-size: 0.78em;
    padding: 5px;
    max-height: 550px;
    overflow: auto;
}
